{%extends "Menu.html"%}
{%block content%}
<style type="text/css">
	p
	{
		font-size: 40px;
		font-family: cursive;
	}
	.Information
	{
		background-color:  #CCCCCC;
	}
</style>

<div class="Information">
	<p> Hi there 👋,  my name is Mohit</p>
    <p> Skills: Python , Java , C , Tensorflow , Keras , PyTorch ,  SciKitLearn , HTML , CSS,  Flask , Django

- 🔭 I’m currently working on Deep Neural Networks, Kaggle Competitions 
- 🌱 I’m currently learning Deep Learning using Keras 
- 👯 I’m looking to collaborate on Websites that require Machine Learning or Deep Learning 
- 💬 Ask me about Data Science , Machine Learning , Deep Learning , Formula One , Starwars   
- ⚡ Fun fact: Hard wrok always pays off </p>
</div>
{%endblock%}


